@model RegisterModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Employee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkEmailAddress" class="control-label"></label>
                <input asp-for="WorkEmailAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkPhoneNumber" class="control-label"></label>
                <input asp-for="WorkPhoneNumber" class="form-control" />
                <span asp-validation-for="WorkPhoneNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                @Html.DropDownListFor(m => m.RoleId, Model.Roles,new {@class= "form-control"})
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.DepartmentId, Model.Departments,new {@class= "form-control"})
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary btn-outline-primary" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}